<!doctype HTML>
<html ng-app="GoTTC">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    </head>

    <body>
        <div ng-controller="MainCtrl">
            <h1 ng-bind="name"></h1>

            <div ng-show="tab=='nearest'">
                <img src=""/>
                <div go-ttc-map longitude="longitude" latitude="latitude"></div>

                <div ng-show="DEBUG"> DEBUG CURRENT INTERSECTION {{ currentIntersection }}</div>
                <div ng-show="DEBUG"> DEBUG CURRENT INTERSECTION TIMES {{ currentIntersectionTimes }}</div>
                <div ng-show="DEBUG"> DEBUG NEARBY: {{ nearby }}</div>
            </div>
          <div ng-show="tab=='favourites'">
                <ul ng-repeat="stop in favourites">
                    <li ng-bind="stop.name"></li>
                </ul>
            </div>
            <div class="tab-bar">
                <span ng-click="tab='nearest'" ng-bind="'Nearest'"></span>
                <span ng-click="tab='favourites'" ng-bind="'Favourites'"></span>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">

</script>
