<!doctype html>
<html lang="en" ng-app="GoTTC">
<head>
  <meta charset="utf-8">
  <title>GoTTC</title>
  <meta name="description" content="GoTTC app">
  <meta name="author" content="Gregry Pike & Diego Escalante">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="styles.css?v=1.0">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body ng-controller="MainCtrl">

<header>
  <img src="img/go-ttc-icon.png" class="gottc">
  <h1 ng-bind="currentIntersection.name" ng-click="changeIntersectionRequest=!changeIntersectionRequest"></h1>
</header>

<div iscroll id="wrapper" ng-show="changeIntersectionRequest">
  <ul class="nearby-intersections">
    <li
      ng-repeat="i in nearby" 
      ng-show="changeIntersectionRequest" 
      ng-click="changeCurrentIntersection(i)"
      class="list-option"
      ng-class-even="'alt'">
    {{ i.name }}
    </li>
  </ul>
</div>

<div class="map" ng-show="tab=='nearest'" ng-click="changeIntersectionRequest=false">
  <div intersection-time class="stop tl" stop-time="stopHeadingSouthTime" direction="south"></div>
  <div intersection-time class="stop tr" stop-time="stopHeadingWestTime" direction="west"></div>
  <div intersection-time class="stop bl" stop-time="stopHeadingEastTime" direction="east"></div>
  <div intersection-time class="stop br" stop-time="stopHeadingNorthTime" direction="north"></div>
  <div class="go-ttc-map" go-ttc-map longitude="longitude" latitude="latitude"></div>
</div>

<div class="map" ng-show="tab=='favourites'" style="height:400px">
  <ul class="nearby-intersections">
    <li
      favourite-station
      station="fav"
      ng-repeat="fav in favourites" 
      class="list-option"
      ng-click="getFavouriteTime(fav)"
      ng-class-even="'alt'">
    </li>
  </ul>

</div>

<footer>
  <a href="" ng-click="tab='nearest'" ng-class="{'active': tab=='nearest'}">Nearest</a>
  <a ng-click="tab='favourites'" ng-class="{'active': tab=='favourites'}">Favourites</a>
</footer>


  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/moment.min.js"></script>
  <script src="js/lib/iscroll.js"></script>
  <script src="js/app.js"></script>
</body>
</html>

