/*html {
  background: #ccc;
  overflow: hidden;
}

body {
  width: 320px;
  height: 442px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #aaa;
  margin: 100px auto;
  position: relative;
  padding-bottom: 40px;
}*/

body {
  position: relative;
  margin: 0;
  font-size: 62.5%;
}

header {
  width: 100%;
  background: -moz-linear-gradient(to bottom right, rgba(78,139,20,1), rgba(104,184,26,0.6));
}

.gottc {
  background: #fff;
  position: absolute;
  top: 20px;
  right: 10px;
  display: inline-block;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.arrow-down {
  position: absolute;
  top: 32px;
  right: 60px;
  opacity: 0.8;
  height: 14px;
  z-index: 2;
}
.arrow-down:hover {
  opacity: 1;
  cursor: pointer;
}

h1 {
  color: #fff;
  font-family: sans serif;
  padding: 0.2em 95px 0.2em 0.2em;
  margin: 0;
  font-size: 2em;
  background: url('img/arrow-down.png') no-repeat 5px middle;
}

.map {
  overflow: hidden;
  position: relative;
}

.map .go-ttc-map {
  margin-left: -50%;
  margin-top: -50%;
}

.map .stop {
  background: #4e8b14;
  background: rgba(78,139,20,0.6);
  color: #213b08;
  position: absolute;
  width: 30%;
  font-family: sans-serif;
  font-size: 1.4em;
  padding: 5px;
}

.map .stop:hover {
  background: rgba(78,139,20,0.7);
  cursor: pointer;
}

.map .stop.tl {
  top: 5px;
  left: 5px;
  border-bottom-right-radius: 30px;
}

.map .stop.tr {
  top: 5px;
  right: 5px;
  text-align: right;
  border-bottom-left-radius: 30px;
}

.map .stop.bl {
  bottom: 5px;
  left: 5px;
  border-top-right-radius: 30px;
}

.map .stop.br {
  bottom: 5px;
  right: 5px;
  text-align: right;
  border-top-left-radius: 30px;
}

.map .stop strong {
  color: #fff;
}

.map .stop .route {
  font-size: 1.2em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #4e8b14;
}

footer a {
  width: 50%;
  float: left;
  display: inline-block;
  font-size: 2em;
  color: #fff;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

footer a.active {
  background: #5ca317;
}
