/*html {
  background: #ccc;
  overflow: hidden;
}

body {
  width: 320px;
  height: 442px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #aaa;
  margin: 100px auto;
  position: relative;
  padding-bottom: 40px;
}*/

body {
  position: relative;
  margin: 0;
  font-size: 62.5%;
}

header {
  width: 100%;
  position: relative;
  background-color: #5ca317; /*linear-gradient(top, rgba(92,163,23,1) 0%,rgba(104,184,26,0.73) 100%)*/
  min-height: 40px;
}

.gottc {
  background: #fff;
  position: absolute;
  top: 20px;
  left: 10px;
  display: inline-block;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  z-index: 2;
}

h1 {
  color: #fff;
  font-family: sans serif;
  padding: 0.2em 95px 0.2em 0.2em;
  margin: 0 0 0 60px;
  font-size: 3em;
  background: url('img/arrow-down.png') no-repeat center right;
}
h1:hover {
  cursor: pointer;
}

.map {
  overflow: hidden;
  position: relative;
}

/*.map .go-ttc-map {
  margin-left: -50%;
  margin-top: -50%;
}*/

.map .stop {
  background: #4e8b14;
  background: rgba(78,139,20,0.6);
  color: #213b08;
  position: absolute;
  width: 30%;
  font-family: sans-serif;
  font-size: 1.4em;
  padding: 5px;
}

.map .stop:hover {
  background: rgba(78,139,20,0.7);
  cursor: pointer;
}

.map .stop.tl {
  top: 5px;
  left: 5px;
  border-bottom-right-radius: 30px;
}

.map .stop.tr {
  top: 5px;
  right: 5px;
  text-align: right;
  border-bottom-left-radius: 30px;
}

.map .stop.bl {
  bottom: 45px;
  left: 5px;
  border-top-right-radius: 30px;
}

.map .stop.br {
  bottom: 45px;
  right: 5px;
  text-align: right;
  border-top-left-radius: 30px;
}

.map .stop strong {
  font-size: 1.2em;
  color: #eee;
}

.map .stop .route {
  color: #fff;
}

.nearby-intersections {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 220px;
}

.nearby-intersections .alt {
  background: #d8eac5;
}

.list-option {
  background: #cbdcb9;
  border-top: 1px solid #c6d7b5;
  margin: 0;
  padding: 1em;
  font-size: 1.4em;
  color: #454545;
  font-family: sans-serif;
}
.list-option:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #4e8b14;
}

footer a {
  width: 50%;
  float: left;
  display: inline-block;
  font-size: 2em;
  color: #fff;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

footer a.active {
  background: #5ca317;
}

.full-screen-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

.loading-loaded {
  opacity: 1 !important;
}

.loading-base {
  background: white;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 64px;
}

.loading-message {
  font-family: sans-serif;
  color: #999;
  font-size: 1.4em;
}

.favourite-link {
  color: #ffe920
}

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: rgba(204,204,204,0.5);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

.modal-overlay.loading-loaded {
  width: 100%;
  height: 100%;
  z-index: 99;
}

.hide {
  display: none;
}