<!doctype html>
<html lang="en" ng-app="GoTTC">
<head>
  <meta charset="utf-8">
  <title>GoTTC</title>
  <meta name="description" content="GoTTC app">
  <meta name="author" content="Gregry Pike & Diego Escalante">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="fonts/DroidSans.css"> 
  <link rel="stylesheet" href="styles.css?v=1.0">
</head>
<body ng-controller="MainCtrl">

<div class="container">

<section
  id="settings"
  ng-class="{'hide-pane': tab!='settings'}">

  <div class="localize-elements">

    <header>
      <h1>
        Settings
      </h1>
    </header>

    <div class="pane">

      <ul>
        <li>
          <strong>Default start</strong>
          <select ng-model="landingPage">
            <option value="nearest">Nearest stops</option>
            <option value="favourites">Favourites stops</option>
          </select>
        </li>
        <li ng-click="togglePane('nearest')" class="clickable">
          Return to map
        </li>
      </ul>

    </div>

  </div>

</section>

<section
  id="nearest"
  ng-class="{'hide-for-settings': tab=='settings', 'hide-for-favourites': tab=='favourites'}">

  <div class="localize-elements">

  <header>
    <a class="icon-settings" ng-click="togglePane('settings')"></a>
    <h1
      ng-bind="currentIntersection.name"
      ng-click="togglePane('nearby','subtab')"
      class="nearby-stops clickable">
    </h1>
    <a class="icon-search" ng-click="togglePane('search','subtab')"></a>
  </header>

  <div class="map-wrapper">
    <div
      map-of-stops
      class="map"
      longitude="longitude"
      latitude="latitude">
    </div>

    <div
      intersection-time
      stop-time="stopHeadingSouthTime"
      direction="south"
      class="stop-wrapper southbound">
    </div>
    <div
      intersection-time
      stop-time="stopHeadingWestTime"
      direction="west"
      class="stop-wrapper westbound">
    </div>
    <div
      intersection-time
      stop-time="stopHeadingEastTime"
      direction="east"
      class="stop-wrapper eastbound">
    </div>
    <div
      intersection-time
      stop-time="stopHeadingNorthTime"
      direction="north"
      class="stop-wrapper northbound">
    </div>

  </div>

  <footer>
    <a class="refresh-button" title="Refresh"></a>
    <a class="favourites-button" ng-click="togglePane('favourites')" title="Favourites">
      <label ng-class="{'hide-label': hideFavouritesLabel}" class="clickable">Favourites</label>
    </a>
  </footer>

  <div
    id="search-intersections"
    class="intersection-search"
    ng-class="{'hide-pane': subtab!='search'}">
	<div class="subtab">
	  <strong>
      Search for an intersection
      <a 
        class="clickable close-subtab"
        ng-click="togglePane('','subtab')">
        &times;
      </a>
    </strong>
    <ul intersection-search all="yes"></ul>
	</div>
  </div>

  <div
    id="nearby-intersections"
    class="intersection-search"
    ng-class="{'hide-pane': subtab!='nearby'}">
	<div class="subtab">
      <strong>
        <span ng-bind="currentIntersection.name"></span>
        <a 
          class="clickable close-subtab"
          ng-click="togglePane('','subtab')">
          &times;
        </a>
      </strong>
      <p>Switch to another intersection?</p>
      <ul intersection-search intersections="nearby"></ul>
	</div>
  </div>

  </div>

</section>

<section
  id="favourites"
  ng-class="{'hide-pane': tab!='favourites'}">

  <div class="localize-elements">

  <header>
    <a class="icon-settings" ng-click="togglePane('settings')"></a>
    <h1>
      Favourites
    </h1>
  </header>

   <ul class="intersections">
    <li
      favourite-station
      station="fav"
      ng-repeat="fav in favourites"
      class="list-option clickable"
      ng-click="getFavouriteTime(fav)"
      ng-class-even="'alt'">
    </li>
  </ul>

  <footer>
    <a class="nearby-button"  ng-click="togglePane('nearest')" title="Favourites">
      <label class="clickable">Nearby Intersections</label>
    </a>
  </footer>

  </div>

</section>

</div>

<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/moment.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="http://www.google.com/jsapi"></script>
<script src="js/lib/iscroll.js"></script>
<script src="js/app.js"></script>
<script src="js/values/stations.js"></script>
<script src="js/values/intersections.js"></script>
<script src="js/values/routes.js"></script>
<script src="js/controllers/main.js"></script>
<script src="js/services/ttc-store.js"></script>
<script src="js/services/user-service.js"></script>
<script src="js/services/configuration-service.js"></script>
<script src="js/services/location-service.js"></script>
<script src="js/directives/intersection-time.js"></script>
<script src="js/directives/go-ttc-map.js"></script>
<script src="js/directives/iscroll.js"></script>
<script src="js/directives/favourite-station.js"></script>
<script src="js/directives/loading.js"></script>
<script src="js/directives/intersection-search.js"></script>
<script src="js/directives/map-of-stops.js"></script>
<script src="js/filters.js"></script>

<div
  loading
  show-loading="fullScreenLoading"
  class="full-screen-loading"
  ng-class="{'loading-loaded': fullScreenLoading, 'not-loading': !fullScreenLoading}">
</div>

<div class="modal-overlay" ng-class="{'loading-loaded': fullScreenLoading}"></div>

</body>
</html>
