/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'DroidSansRegular', Ariel, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
strong {
  font-weight: bold;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */

html,
body {
  height: 100%;
}

body {
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
}

.localize-elements {
  position: relative;
  height: 100%;
}

header {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3eb112;
  z-index: 150;
}

h1 {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: elipsis;
  color: #fff;
  line-height: 40px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: rgba(255, 255, 255, 0);
  -o-tap-highlight-color: rgba(255, 255, 255, 0);
  -ms-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0);
  float: left;
}

.nearby-stops {
  background: url('img/arrow-down.png') no-repeat center right;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 150;
}

.pane {
  position: absolute;
  top: 40px;
  margin: 0 0 40px 0;
  overflow: hidden;
  width: 100%;
}

.clickable, a {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: rgba(255, 255, 255, 0);
  -o-tap-highlight-color: rgba(255, 255, 255, 0);
  -ms-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}

.subtab {
  background: rgba(0,0,0,0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* NEAREST
============*/

#nearest {
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  -webkit-transition: all 400ms ease 0s ;
  -moz-transition: all 400ms ease 0s ;
  -o-transition: all 400ms ease 0s ;
  -ms-transition: all 400ms ease 0s ;
  transition: all 400ms ease 0s ;
  z-index: 100;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
#nearest.hide-for-settings {
  z-index: 10;
  -webkit-transform: translate3d(80%, 0px, 0px);
  -moz-transform: translate3d(80%, 0px, 0px);
  -o-transform: translate3d(80%, 0px, 0px);
  -ms-transform: translate3d(80%, 0px, 0px);
  transform: translate3d(80%, 0px, 0px);
}
#nearest.hide-for-favourites {
  z-index: 10;
  -webkit-transform: translate3d(-100%, 0px, 0px);
  -moz-transform: translate3d(-100%, 0px, 0px);
  -o-transform: translate3d(-100%, 0px, 0px);
  -ms-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
}

#nearest .icon-settings,
#favourites .icon-settings {
  display: inline-block;
  width: 30px;
  height: 40px;
  background: url('img/icon-menu.png') no-repeat center center;
  float: left;
  border-right: 1px solid #62ad18;
}

#nearest .icon-search {
  width: 30px;
  height: 40px;
  float: right;
  border-left: 1px solid #62ad18;
  background: url('img/icon-search.png') no-repeat center center;
  background-size: 20px 20px;
}

#nearest header {
  border-bottom: 5px solid rgba(64, 151, 30, 1);
}

#nearest h1 {
  padding-right: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: none;
  max-width: 65%;
}

#nearest footer {
  width: 100%;
  height: 40px;
  background: #333;
}

#nearest .favourites-button {
  padding: 0 10px 0 40px;
  line-height: 40px;
  height: 40px;
  float: right;
  background: url('img/icon-star.png') no-repeat left center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#nearest .refresh-button {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  float: left;
  background: url('img/icon-refresh.png') no-repeat center center;
  background-size: 30px 30px;
}


/* SETTINGS
============*/

#settings {
  background: #4B4B4B;
  box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.3) inset;
  color: #FFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100%;
  width: 80%;
  -webkit-transition: all 400ms ease 0s ;
  -moz-transition: all 400ms ease 0s ;
  -o-transition: all 400ms ease 0s ;
  -ms-transition: all 400ms ease 0s ;
  transition: all 400ms ease 0s ;
  z-index: 100;
  transform: translate3d(0px, 0px, 0px);
}

#settings.hide-pane {
  -webkit-transform: translate3d(-80%, 0px, 0px);
  -moz-transform: translate3d(-80%, 0px, 0px);
  -o-transform: translate3d(-80%, 0px, 0px);
  -ms-transform: translate3d(-80%, 0px, 0px);
  transform: translate3d(-80%, 0px, 0px);
  z-index: 10
}

#settings header {
  background: #3B3B3B;
}

#settings .pane {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3) inset;
}

#settings ul {
  display: block;
}

#settings li {
  border-bottom: 1px solid #3B3B3B;
  padding: 10px;
  font-size: 18px;
}

#settings strong {
  display: block;
}


/* FAVOURITES
==============*/

#favourites {
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  -webkit-transition: all 400ms ease 0s ;
  -moz-transition: all 400ms ease 0s ;
  -o-transition: all 400ms ease 0s ;
  -ms-transition: all 400ms ease 0s ;
  transition: all 400ms ease 0s ;
  z-index: 100;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#favourites.hide-pane {
  -webkit-transform: translate3d(100%, 0px, 0px);
  -moz-transform: translate3d(100%, 0px, 0px);
  -o-transform: translate3d(100%, 0px, 0px);
  -ms-transform: translate3d(100%, 0px, 0px);
  transform: translate3d(100%, 0px, 0px);
  z-index: 10;
}

#nearest h1 {
  padding-right: 30px;
}

.favourite-link {
  color: #ffe920
}

#favourites .intersections {
  position: absolute;
  top: 40px;
  width: 100%;
}

#favourites .intersections li {
  color: rgba(92,163,23,1);
  font-size: 18px;
  background: rgba(92,163,23,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  height: 40px;
}

#favourites .intersections li.alt {
  background: rgba(92,163,23,0.35);
}

#favourites footer {
  width: 100%;
  height: 40px;
  background: rgba(0,0,0,0.8);
}

#favourites .nearby-button {
  padding: 0 10px 0 48px;
  line-height: 40px;
  height: 40px;
  float: right;
  background: url('img/icon-location.png') no-repeat left center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#favourites .direction {
  display: inline-block;
  height: 40px;
  width: 30px;
  line-height: 40px;
  border-right: 1px solid rgba(0,0,0,0.05);
  float: left;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#favourites .direction .letter {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.25;
  z-index: -10;
  font-weight: bold;
  font-size: 54px;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  text-align: center;
  line-height: 80px;
  color: #454545;
}

#favourites .direction .compass {
  margin-top: 8px;
  z-index: 100;
}

#favourites .stop-name {
  display: inline-block;
  line-height: 40px;
  float; left;
  margin: 0 10px;
}

#favourites .times {
  display: inline-block;
  width: 54px;
  height: 40px;
  float: right;
  text-align: center;
  color: #454545;
  border-left: 1px solid rgba(0,0,0,0.05);
}

#favourites .times .first {
  margin-top: 6px;
}

#favourites .times .only {
  margin: 0;
  line-height: 40px;
}

#favourites .times .second {
  color: rgba(92,163,23,1);
  font-size: 10px;
}

/* SEARCH
===========*/

#search-intersections {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  -webkit-transition: all 400ms ease 0s ;
  transition: all 400ms ease 0s ;
  z-index: 120;
  -webkit-transform: translate3d(0px, 40px, 0px);
  transform: translate3d(0px, 40px, 0px);
}

#search-intersections.hide-pane {
  max-height: 40px;
  overflow: hidden;
  -webkit-transform: translate3d(0px, -80px, 0px);
  -moz-transform: translate3d(0px, -80px, 0px);
  -o-transform: translate3d(0px, -80px, 0px);
  -ms-transform: translate3d(0px, -80px, 0px);
  transform: translate3d(0px, -80px, 0px);
  z-index: 10;
}

#search-intersections strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
  padding: 10px 10px 5px 10px;
}

.search-wrapper {
  line-height: 30px;
  padding: 0 10px 15px 10px;
}

.search-wrapper input {
  width: 70%;
  border: 0 none;
  border-radius: 5px;
  height: 25px;
  padding: 2px 5px;
}

.search-wrapper img {
  vertical-align: middle;
  height: 20px;
}

.scrollable-list {
  height: 300px;
}
.scrollable-list.hide-iscroll {
  height: 0;
}

/* NEARBY INTERSECTIONS
=========================*/

#nearby-intersections {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  -webkit-transition: all 800ms ease 0s ;
  -moz-transition: all 800ms ease 0s ;
  -o-transition: all 800ms ease 0s ;
  -ms-transition: all 800ms ease 0s ;
  transition: all 800ms ease 0s ;
  z-index: 120;
  -webkit-transform: translate3d(0px, 40px, 0px);
  -moz-transform: translate3d(0px, 40px, 0px);
  -o-transform: translate3d(0px, 40px, 0px);
  -ms-transform: translate3d(0px, 40px, 0px);
  transform: translate3d(0px, 40px, 0px);
}

#nearby-intersections.hide-pane {
  -webkit-transform: translate3d(0px, -80px, 0px);
  -moz-transform: translate3d(0px, -80px, 0px);
  -o-transform: translate3d(0px, -80px, 0px);
  -ms-transform: translate3d(0px, -80px, 0px);
  transform: translate3d(0px, -80px, 0px);
  height: 80px;
  overflow: hidden;
  z-index: 10;
}

#nearby-intersections strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255,1);
  padding: 10px 10px 5px 10px;
}

#nearby-intersections p {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.7);
  margin: 0 10px 10px 10px;
}

.intersection-search ul {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.intersection-search li {
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.intersection-search li.alt {
  background: rgba(0,0,0,0.2);
}


/* MAP
========*/

.map-wrapper {
  position: relative;
  top: 45px;
}

.stop-wrapper {
  width: 50%;
}

.map-wrapper .stop {
  padding: 6px;
  background: rgba(222, 222, 222, 1);
  line-height: 32px;
  height: 32px;
  position: relative;
}

.map-wrapper .stop .times {
  line-height: 32px;
  height: 36px;
}

.map-wrapper .route {
  font-size: 14px;
  font-weight: bold;
  color: #2d2d2d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-wrapper .stop img {
  vertical-align: middle;
  position: absolute;
  top: 6px;
  z-index: 2;
}

.stop-wrapper .times {
  overflow: hidden;
  height: 36px;
}

.stop-wrapper .times-overflow {
  width: 999px;
  float: right;
}

.stop-wrapper .primary-eta {
  display: inline-block;
  padding: 6px 10px;
  font-size: 24px;
  background: rgba(222,222,222,1); /*rgba(64, 151, 30, 0.6);*/
  color: #2d2d2d;
  font-weight: bold;
}

.stop-wrapper .eta {
  display: inline-block;
  padding: 6px;
  background: rgba(75,75,75,0.4);
  color: #fff;
  font-size: 12px;
}

/* Westbound */
.stop-wrapper.westbound {
  top: 0;
  right: 0;
  position: absolute;
}
.stop-wrapper.westbound .stop {
  top: -36px;
  text-align: right;
}
.map-wrapper .westbound .route {
  margin-right: 37px;
}
.map-wrapper .westbound .stop img {
  right: 6px;
}
.stop-wrapper.westbound .times {
  top: 44px;
  position: relative;
}
.stop-wrapper.westbound .primary-eta {
  border-bottom-left-radius: 10px;
  float: right;
}
.stop-wrapper.westbound .eta,
.stop-wrapper.westbound .times-overflow {
  float: right;
}
.stop-wrapper.westbound .eta:last-child {
  border-bottom-left-radius: 10px;
}

/* Southbound */
.stop-wrapper.southbound {
  top: 0;
  left: 0;
  position: absolute;
}
.stop-wrapper.southbound .stop {
  top: -36px;
}
.map-wrapper .southbound .route {
  margin-left: 37px;
}
.map-wrapper .southbound .stop img {
  left: 6px;
}
.stop-wrapper.southbound .times {
  top: 44px;
  position: relative;
}
.stop-wrapper.southbound .primary-eta {
  border-bottom-right-radius: 10px;
  float: left;
}
.stop-wrapper.southbound .eta,
.stop-wrapper.southbound .times-overflow {
  float: left;
}
.stop-wrapper.southbound .eta:last-child {
  border-bottom-right-radius: 10px;
}

/* Northbound */
.map-wrapper .northbound {
  bottom: 5px;
  right: 0;
  position: absolute;
}
.northbound .stop {
  top: -15px;
  text-align: right;
}
.map-wrapper .northbound .route {
  margin-right: 37px;
}
.map-wrapper .northbound .stop img {
  right: 6px;
}
.stop-wrapper.northbound .times {
  top: -15px;
  position: relative;
}
.stop-wrapper.northbound .primary-eta {
  border-top-left-radius: 10px;
  float: right;
}
.stop-wrapper.northbound .eta,
.stop-wrapper.northbound .times-overflow {
  float: right;
}
.stop-wrapper.northbound .eta:last-child {
  border-top-left-radius: 10px;
}

/* Eastbound */
.map-wrapper .eastbound {
  bottom: 5px;
  left: 0;
  position: absolute;
}
.stop-wrapper.eastbound .stop {
  top: -15px;
}
.map-wrapper .eastbound .route {
  margin-left: 37px;
}
.map-wrapper .eastbound .stop img {
  left: 6px;
}
.stop-wrapper.eastbound .times {
  top: -15px;
  position: relative;
}
.stop-wrapper.eastbound .primary-eta {
  border-top-right-radius: 10px;
  float: left;
}
.stop-wrapper.eastbound .eta,
.stop-wrapper.eastbound .times-overflow {
  float: left;
}
.stop-wrapper.eastbound .eta:last-child {
  border-top-right-radius: 10px;
}

.stop-wrapper.northbound .eta,
.stop-wrapper.eastbound .eta {
  margin-top: 12px;
}


/* MODALS
===========*/

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: rgba(25,25,25,0.5);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

.modal-overlay.loading-loaded {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.full-screen-loading {
  position: absolute;
  top: 49%;
  left: 49%;
  margin: -40px 0 0 -40px;
  z-index: 101;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

.loading-loaded {
  display: block;
  opacity: 1 !important;
}

.not-loading {
  z-index: -100;
  display: none;
}

.loading-base {
  background: white;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 64px;
}

.loading-message {
  color: #999;
  font-size: 1.4px;
}
