<div class="direction">
	<img ng-src="{{compassUrl}}" ng-show="compassUrl" height="18" class="compass">
	<div class="letter" ng-bind="directionAbbr"></div>
</div>
<div class="stop-name">{{ name }}</div>
<div class="times">
	<div class="first" ng-class="{'only':!secondVehicleEta}">
		{{firstVehicleEta}}
	</div>
	<div class="second">
		{{secondVehicleEta}}
	</div>
</div>

<!-- <img ng-src="{{compassUrl}}" ng-show="compassUrl" height="18"> {{directionAbbr}} |  <strong>{{ nextOne}}</strong><span ng-click="removeFromFavourites()">X</span> -->